*{
   margin: 0;
   padding: 0xzx;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:#000;
}

.nav{
    height: 110px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

}
.nav-prt2{
    /* background-color: blue; */
    display: flex;
    align-items: center;

    width: 56%;
    justify-content: space-between;
}

.nav h1{
    font-size: 20px;
    display: flex;
    text-transform: capitalize;
    align-items: center;

}
.nav>i{
    font-size: 22px;
}
.nav h5{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 100;
}
.nav img{
    height: 150px;
}
.line{
    /* margin-top: 20px; */
    width: 60px;
    height: 2px;
    background-color: red;
}

.content{
    height: calc(100% - 140px);
    width: 100%;
    /* background-color: rgb(214, 184, 184); */
    display: flex;
    justify-content: space-between;
    
}

.left{
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 160px 80px;
    
}
.right{
    width: 36%;
    height: 100%;
    /* background-color: blue; */
}

.center{
    width: 26%;
    height: 100%;
    background-color: red;
    padding-top: 30px;
}

.left h1{
    font-size: 50px;
    line-height: 47px;
    margin-bottom: 40px;
}
.left h1 samp{
    color: red;
    font-weight: 500;
}

.left p{
    font-size: 15px;
    width: 70%;
    margin-bottom: 40px;
    line-height: 22px ;
}

.left button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-size: 15px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    /* padding: 20px 42px; */

}
.left i{
    margin-right: 6px;
}
.center-bg{
    background-color: blue;
    height: 85%;
    width: 100%;
    border-top-left-radius:1000px ;
    border-top-right-radius: 1000px;
}